@font-face {
    font-family: 'CHILLER';
    src: url('../font/CHILLER.eot');
    src: local('CHILLER'), url('../font/CHILLER.eot?#iefix') format('embedded-opentype'), url('../font/CHILLER.woff') format('woff'), url('../font/CHILLER.ttf') format('truetype');
}

html {
    height: 100%;

}

body {
    height: 100%;
    min-height: 925px;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    background-image: url(../img/bg.jpg);
    margin: 0;
    padding: 0;
}

.site {
    position: relative;
    min-height: 100%;

}


.header_static {
    position: relative;
    top: 0;
    z-index: 2;
    background-color: rgba(245, 245, 245, 0.8);
}

.links__element {
    width: 32px;
}

.links__element:hover {
    -webkit-animation: swing 0.6s ease-out;
    animation: swing 0.6s ease-out;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
}


.vertical_line {
    width: 1px;
    margin-top: 4px;
    height: 112px;
    background-color: black;
}

.header {
    border-bottom: 1px solid black;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5)
}



.NameShop {
    height: 74px;
    font-family: 'CHILLER' !important;
    font-size: 4rem;
    color: black;
}

.a {
    color: black;
    text-decoration: none;
    /* Цвет ссылок */
}

.a:visited {
    color: black;
    /* Цвет посещенных ссылок */
}

.a:active {
    color: black;
    text-decoration: none;
    /* Цвет активных ссылок */
}

.a:hover {
    text-decoration: none;
}

.col_info {
    font-size: 16px;
}

.info_icons {
    width: 24px;
    margin: 3px;
    margin-right: 10px;
}

.container_margin {
    padding-bottom: 500px;
    padding-top: 10px;
}

.container__product {
    position: relative;

    padding: 0;
    margin-bottom: 6px;

    overflow: hidden;
    cursor: pointer;

    outline: 1px solid black;
}

.row__col {
    padding-left: 2px;
    padding-right: 2px;
}

.container__product:hover .container__product_img {
    transform: scale(1.1);
}

.container__product_img {
    width: 100%;

    transition: all 0.7s;
}

.container__product_hover_touch {
    position: absolute;

    top: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(255, 255, 255, 0));

}

.container__product_hover {
    position: absolute;

    width: 100%;
    height: 100%;

    background: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(255, 255, 255, 0));

    transition: all 0.7s;
}

.container__product:hover .container__product_hover {
    transform: translateY(-100%);
}

.product_id {
    font-size: 125%;
}

.product_size {
    text-transform: lowercase;
    font-size: 100%;
}

.product_id,
.product_size {
    position: relative;

    bottom: calc(-100% + 55px);
    left: 20px;

    color: white;
}

.two_product_id,
.two_product_id+.product_size {
    bottom: calc(-100% + 80px);
}

.menu {
    text-align: right;
}

.strp-info {
    font-size: 180%;
}

.strp-info-padder {
    padding-top: 20px;
    padding-bottom: 20px;
}

.strp-window-skin-strip .strp-close .strp-close-icon {
    background-size: 90%;
}

.strp-close-background,
.strp-close-icon {
    width: 50px;
    height: 50px;
}

.strp-close-background,
.strp-close-icon {
    top: 0;
    left: 0;
}

.strp-side-right .strp-close {
    top: 15px;
    right: 15px;
}


.strp-window {
    background-color: rgba(0, 0, 0, 0.5);

}

.strp-container {
    background: rgba(0, 0, 0, 0.5);
}

.strp-side-right .strp-page {
    box-shadow: 0 1px 4px rgba(0, 0, 0, .3),
    -23px 0 20px -23px rgba(0, 0, 0, .8),
    23px 0 20px -23px rgba(0, 0, 0, .8),
    0 0 40px rgba(0, 0, 0, .1) inset;


}

.controls {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    flex-wrap: wrap;
}

.control {
    display: block;
}

/*SEARCH*/

.form-row {
    padding: 0;
    padding-right: 10px;
    position: relative;
}

.form-row input {
    display: block;
    width: 100%;
    padding: 0 10px;
    line-height: 40px;
    font-family: 'Roboto', sans-serif;
    background: none;
    border-width: 0;
    border-bottom: 2px solid black/*#4a90e2*/
    ;
    transition: all 0.2s ease;
    cursor: pointer;

    color: grey;
}

.form-row input:hover {
    background-color: whitesmoke;
}

.form-row label {
    /*position: absolute;*/
    left: 13px;
    color: black;
    font-size: 20px;
    font-weight: 300;
    transform: translateY(-35px);
    transition: all 0.2s ease;
}

.form-row input:focus {
    outline: 0;
    border-color: black/*#ffdb4d*/
    ;
}

.form-row input:focus+label,
.form-row input:valid+label {
    transform: translateY(-65px);
    margin-left: 0px;
    font-size: 18px;
    font-weight: 400;
    outline: 0;
    border-color: #ffdb4d/*#F77A52*/
    ;
    color: black/*#ffdb4d*/
    ;
}


.map {
    position: absolute;
    width: 100%;
    bottom: 0;
    margin-top: 40px;
    margin-bottom: 60px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
    background-color: whitesmoke;
    font-size: 1rem;
    text-align: center;
}

.info_map {
    display: block;
    position: absolute;
    z-index: 1;
    left: 50px;

    width: 333px;
    height: 300px;
    margin-top: 50px;

    font-size: 15px;
    background-color: rgba(255, 219, 77, 0.85);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.col_margin {
    margin-top: 20px;
}

.contact_name {
    text-align: center;
    font-size: 30px;
}

.tto_top,
.tto_top::before,
.tto_top::after,
.tto_top span,
.tto_top span::before,
.tto_top span::after {
    -webkit-transition: all ease .5s;
    -o-transition: all ease .5s;
    transition: all ease .5s;
}

.tto_top {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1em;
    border: solid 1px;
    text-transform: uppercase;
    cursor: pointer;
    right: 5px;
    font-weight: 700;
    bottom: 10px;
    z-index: 15;
    color: rgba(255, 219, 77, 1);
    background-color: whitesmoke;
    width: 70px;
    height: 40px;
    border-color: rgba(255, 219, 77, 1);
}

.tto_top:hover {
    background-color: rgba(255, 219, 77, 1);
}

.tto_top:hover {
    -webkit-box-shadow: 0 0 5em .5em rgba(121, 198, 144, 0.5);
    box-shadow: 0 0 5em .5em rgba(121, 198, 144, 0.5);
}

.tto_top span {
    display: inline-block;
    width: 100%;
    padding: 0.5em 1.7em;
}

.tto_top:hover span {
    background-color: rgba(255, 219, 77, 1);
    color: white;
}

.tto_top::before,
.tto_top::after,
.tto_top span::before,
.tto_top span::after {
    content: '';
    position: absolute;
    border: 1px;
}

.tto_top::before,
.tto_top span::before {
    border-style: solid none;
    border-color: rgba(255, 219, 77, 1);
}

.tto_top::before,
.tto_top span::after {
    left: 0;
    top: -0.4em;
    width: 100%;
    height: calc(100% + 0.8em);
}

.tto_top::after,
.tto_top span::after {
    border-color: rgba(255, 219, 77, 1);
    border-style: none solid;
}

.tto_top::after,
.tto_top span::before {
    top: 0;
    left: -0.4em;
    height: 100%;
    width: calc(100% + 0.8em);
}

.tto_top:hover::after,
.tto_top:hover span::after {
    -webkit-transform: scaleY(0);
    -ms-transform: scaleY(0);
    transform: scaleY(0);
}

.tto_top:hover::before,
.tto_top:hover span::before {
    -webkit-transform: scaleX(0);
    -ms-transform: scaleX(0);
    transform: scaleX(0);
}

.tto_top:hover span::after,
.tto_top:hover span::before {
    opacity: 0;
}

.tto_top:hover .arrow-bottom {
    border-bottom-color: white;
}

.arrow-bottom {
    width: 0;
    height: 0;
    border: 20px solid transparent;
    border-bottom-color: rgba(255, 219, 77, 1);
    border-top: 0;
}


@media screen and (max-width: 986px) {
    .NameShop {
        margin-top: -12px;
        height: 70px;
    }

    .vertical_line,
    .col_info {
        display: none;
    }

    .header {
        text-align: center;
    }
}

@media screen and (max-width: 768px) {
    .info_map {
        position: relative;
        width: 100%;
        left: 0;
        border-radius: 0;
        background-color: rgba(255, 219, 77, 1);
    }

    .contact_name {
        font-size: 34px;
    }

    .container_margin {
        padding-bottom: 790px
    }
    .col_margin {
        font-size: 22px;
    }

    .NameShop {
        height: 58px;
        font-family: 'CHILLER' !important;
        font-size: 3rem;
        color: black;
    }
}

@media screen and (max-width: 470px) {
    .col_margin {
        font-size: 18px;
    }
    .footer {
        font-size: 14px;
    }
}

@media screen and (max-width: 390px) {
    .col_margin {
        font-size: 15px;
    }

    .footer {
        font-size: 11px;
    }
}

@media screen and (max-width: 360px) {
    .NameShop {
        margin-top: -8px;
        height: 56px;
        font-family: 'CHILLER' !important;
    }

    .tagline {
        font-size: 15px;
    }

    .container_margin {
        padding-top: 10px;
    }
}

@media screen and (max-width: 340px) {
    .col_margin {
        font-size: 13px;
    }

    .footer {
        font-size: 9px;
    }
}



@-webkit-keyframes swing {
    15% {
        -webkit-transform: translateX(0.18vw);
        transform: translateX(0.18vw);
    }
    30% {
        -webkit-transform: translateX(-0.18vw);
        transform: translateX(-0.18vw);
    }
    40% {
        -webkit-transform: translateX(0.12vw);
        transform: translateX(0.12vw);
    }
    50% {
        -webkit-transform: translateX(-0.12vw);
        transform: translateX(-0.12vw);
    }
    65% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}


@keyframes swing {
    15% {
        -webkit-transform: translateX(0.18vw);
        transform: translateX(0.18vw);
    }
    30% {
        -webkit-transform: translateX(-0.18vw);
        transform: translateX(-0.18vw);
    }
    40% {
        -webkit-transform: translateX(0.12vw);
        transform: translateX(0.12vw);
    }
    50% {
        -webkit-transform: translateX(-0.12vw);
        transform: translateX(-0.12vw);
    }
    65% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}
